In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
data = Path('./Resources/lending_data.csv')
df = pd.read_csv(data)
df.head()
# Review the DataFrame
# YOUR CODE HERE!

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77536 entries, 0 to 77535
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_size         77536 non-null  float64
 1   interest_rate     77536 non-null  float64
 2   borrower_income   77536 non-null  int64
 3   debt_to_income    77536 non-null  float64
 4   num_of_accounts   77536 non-null  int64
 5   derogatory_marks  77536 non-null  int64
 6   total_debt        77536 non-null  int64
 7   loan_status       77536 non-null  int64
dtypes: float64(3), int64(5)
memory usage: 4.7 MB

In [4]:
df.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804,0.032243
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077,0.176646
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000,0.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000,0.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000,0.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000,1.000000

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [5]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df["loan_status"]

# Separate the X variable, the features
X = df.drop(columns=["loan_status"]).copy()

In [6]:
# Review the y variable Series
# YOUR CODE HERE!
y.value_counts()

loan_status
0    75036
1     2500
Name: count, dtype: int64

In [7]:
# Review the X variable DataFrame
# YOUR CODE HERE!
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [8]:
# Check the balance of our target values
# YOUR CODE HERE!
y.value_counts()

loan_status
0    75036
1     2500
Name: count, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [9]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# Use stratify for imbalanced target variable
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(58152, 7)

In [10]:
y_test.value_counts()

loan_status
0    18759
1      625
Name: count, dtype: int64

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [11]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

# Fit the model using training data
classifier.fit(X_train,y_train)

LogisticRegression(max_iter=200, random_state=1)

In [12]:
classifier.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 200,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': 1,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [13]:
# Make a prediction using the testing data
# YOUR CODE HERE!
y_preds = classifier.predict(X_test)
y_preds

array([0, 0, 0, ..., 0, 0, 0])

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [14]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!
classifier.score(X_test,y_test)

0.9924164259182832

In [15]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_preds)
# results = pd.DataFrame({"Prediction":y_preds, "Actual":y_test})

array([[18679,    80],
       [   67,   558]])

In [16]:
# Print the classification report for the model
# YOUR CODE HERE!
from sklearn.metrics import classification_report
target_names = ["low risk", "high risk"]
print(classification_report(y_test, y_preds, target_names=target_names))

              precision    recall  f1-score   support

    low risk       1.00      1.00      1.00     18759
   high risk       0.87      0.89      0.88       625

    accuracy                           0.99     19384
   macro avg       0.94      0.94      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model correctly predicted the low risk loans 100% of the time compared to being able to predict the high risk loans 87% of the time.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [17]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
ros = RandomOverSampler(random_state=42)
X_res, y_res = ros.fit_resample(X_train, y_train)
print(X_res,y_res)
# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!

        loan_size  interest_rate  borrower_income  debt_to_income  \
0          8500.0          6.722            43900        0.316629
1         10000.0          7.360            49900        0.398798
2          8400.0          6.708            43700        0.313501
3         11000.0          7.779            53800        0.442379
4          8900.0          6.924            45800        0.344978
...           ...            ...              ...             ...
112549    19000.0         11.216            86200        0.651972
112550    15400.0          9.671            71600        0.581006
112551    19600.0         11.466            88500        0.661017
112552    19300.0         11.309            87000        0.655172
112553    17000.0         10.334            77800        0.614396

        num_of_accounts  derogatory_marks  total_debt
0                     3                 0       13900
1                     4                 0       19900
2                     3                 0       13700
3                     5                 1       23800
4                     3                 0       15800
...                 ...               ...         ...
112549               12                 2       56200
112550                9                 2       41600
112551               13                 2       58500
112552               12                 2       57000
112553               10                 2       47800

[112554 rows x 7 columns] 0         0
1         0
2         0
3         0
4         0
         ..
112549    1
112550    1
112551    1
112552    1
112553    1
Name: loan_status, Length: 112554, dtype: int64

In [18]:
# Count the distinct values of the resampled labels data
y_res.value_counts()

loan_status
0    56277
1    56277
Name: count, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [19]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
log_reg = LogisticRegression(random_state=1)

# Fit the model using the resampled training data
log_reg.fit(X_res,y_res)

# Make a prediction using the testing data
resample_pred = log_reg.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [20]:
# Print the balanced_accuracy score of the model 
accuracy_score = balanced_accuracy_score(y_test,resample_pred)
accuracy_score

0.9959744975744975

In [21]:
# Generate a confusion matrix for the model
print(confusion_matrix(y_test,resample_pred))

[[18668    91]
 [    2   623]]

In [22]:
# Print the classification report for the model
print(classification_report(y_test,resample_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18759
           1       0.87      1.00      0.93       625

    accuracy                           1.00     19384
   macro avg       0.94      1.00      0.96     19384
weighted avg       1.00      1.00      1.00     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** For predicting healthy loans , the model has a 100% precision. For unhealthy loans, the model has a 87% precision